<%- include('partials/above'); -%>

  <div class="container p-5">
    <h1 class="display-5">Contact List</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Contact Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email Address</th>
        </tr>
      </thead>
      <% contacts.forEach(function(contact){ %>
        <tr>
          <td>
            <%= contact.name %>
          </td>
          <td>
            <%= contact.number %>
          </td>
          <td>
            <%= contact.email %>
          </td>
          <td>
            <a href="/secure/update?id=<%= contact.id %>"><button>Update</button></a>
            <a href="/secure/delete?id=<%= contact.id %>"><button>delete</button></a>

          </td>
        </tr>
        <% }); %>
    </table>
  </div>

  <%- include('partials/below'); -%>