<%- include('partials/above'); -%>

  <div class="container p-5">
    <h1 class="display-5">Contact Update</h1>
    <form action="/secure/update?id=<%= contact.id %>" method="POST">
      <div class="form-group">
        <label for="name">Contact Name</label>
        <input class="form-control" id="name" name="name" value="<%= contact.name %>" />
      </div>
      <div class="form-group">
        <label for="number">Contact Number</label>
        <input class="form-control" id="number" name="number" value="<%= contact.number %>" />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input class="form-control" id="email" name="email" value="<%= contact.email %>" />
      </div>
      <input type="submit" value="Update" />
    </form>
    <a href="/secure/delete?id=<%= contact.id %>"><button>delete</button></a>
    <a href="/secure/Cancel"><button>Cancal</button></a>
  </div>

  <%- include('partials/below'); -%>